{{>layout/header}}

<h1> oAuth test </h1>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      {{#memberName}}
        Logged in as: <span id="member">{{memberName}}</span>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      {{/memberName}}
      {{^memberName}}
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<!--        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>-->
      {{/memberName}}
    </div>
  </div>
</div>

{{>layout/footer}}